h1 {
    text-align: center;
}

#flex {
    background-color: #003049;
    width: 90%;
    max-width: 80%;
    height: 300px;
    margin: 20px auto;
    border: 5px solid turquoise;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    /* flex-wrap: wrap; */
    align-items: center;
}

span {
    flex-grow: 1;
    width: 100px;
    height: 170px;
}

@media(min-width:80px) and (max-width:500px) {
    #now {
        color: blue;
    }
}

/* align-self done on single element */
/* flex-shrink *
/* flex-shorthand property */